html {
    background-color: black;
}
body {
    background-color: black;
    margin: 10%;
    border-color: aqua;
    border-style: groove;
    box-shadow: 2px 2px 5px blue;
}
html, body {
    cursor: crosshair;
}
th {
    font-size: 16px;
}
th, td {
    border-color: aqua;
    border-style: groove;
    box-shadow: 2px 2px 5px blue;
    text-align: center;
}
td {
    text-align: center;
}