th {
    font-size: 16px;
    text-shadow: 2px 2px 5px white;
}
th, td {
    border-color: aqua;
    border-style: groove;
    box-shadow: 2px 2px 5px blue;
    text-align: center;
    color: black;
    font-style: bold;
}
td {
    text-align: center;
    font-style: bold;
    font-size: 14px;
    text-shadow: 2px 2px 5px white;
}
table {
    width: 50%;
}